.CreateYourChannelHero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CreateYourChannelHeroHeading{
    text-align: center;
    color: #9E8261;
}
.CreateYourChannelHeroHeading h2{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 800;
    margin-top: 20px;
}
.CreateYourChannelHeroHeading p{
    letter-spacing: 2px;
    font-size: 16px;
}
.CreateYourChannelHeroImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto;
}
.CreateYourChannelHeroImg img{
    padding: 0 3px;
}
.CreateYourChannelHeroContents {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    color: #9E8261;
}