.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.button-visible {
  opacity: 1;
  transform: translateY(0);
}
.homeGetConsultant {
  display: block;
  width: auto;
  padding: 5px 10px;
  line-height: 40px;
  font-size: 18px;
  color: whitesmoke;
  font-weight: 700;
  border: 1px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  border-radius: 20px;
  outline: none;
}

.homeGetConsultant span {
  position: relative;
  z-index: 2;
}

.homeGetConsultant:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all 0.35s;
}
.homeGetConsultant:hover {
  color: black;
}
.homeGetConsultant:hover:after {
  width: 100%;
  border-radius: 20px;
}
